extends layout

block content
  h1= title
  p Enviar por POST a /model
  pre 
    | {
    |    "a1": 3.6286209,
    |    "a2": -1.2752151,
    |    "a3": -0.8258867,
    |    "a5": 1.0126883,
    |    "a6": 2.0018942,
    |    "a7": -4.627272,
    |    "a8": 2.8179684,
    |    "a9": 3.6746619,
    |    "a10": 7.2641153,
    |    "a11": 0.30656675,
    |    "a11": 0.70606714,
    |    "a12": -0.4299887,
    |    "a13": -0.56071,
    |    "a14": 1.6261737,
    |    "a15": -1.2913954,
    |    "a17": 0.6030996,
    |    "a17": -0.6413794,
    |    "a18": 0.6820889
    | }
